@model FrostyBear.Models.Employee

@{
    ViewData["Title"] = "DeletePost";
}

<h1>DeletePost</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <img src="@ViewBag.imgfile" class="card-img-top img-fluid object-fit-cover" style="height:40vh" alt="...">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeUsername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeUsername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position.PositionId)
        </dd>
    </dl>
    
    <form asp-action="DeletePost">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary btn-lg active btn-light btn-back" asp-action="Index">Back to List</a>
    </form>
</div>
