@model IEnumerable<FrostyBear.ViewModels.SVM>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage;
    </div>
}


<h1>Supplier Page</h1>

@{
    var stext = ViewBag.stext;
}

<form asp-controller="Supplier" asp-action="Index">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <a class="btn btn-primary" asp-action="Create">
                <i class="bg-info bi-plus-lg"></i> Add new Supplier
            </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="input-group">
                <span class="input-group-text">Search</span>
                <input type="text" name="stext" class="form-control" value="@stext" />
                <button type="submit" class="btn btn-secondary">
                    OK
                </button>
            </div>
        </div>
    </div>
</form>
<table width="80%" class="table">
    <tr>
        <th></th>
        <th>Supplier ID</th>
        <th>Supplier name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Tel.</th>
        <th>Address</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>

    @{
        var i = 0;
    }
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.SupId</td>
            <td>@item.SupName</td>
            <td>@item.SupContact</td>
            <td>@item.SupEmail</td>
            <td>@item.SupTel</td>
            <td>@item.SupAdd</td>
            <td>@item.SupRemark</td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.SupId">
                    <i class="bi bi-pencil-square">Edit</i>
                </a>
            </td>
            <td class="text-center">
                <a asp-action="Delete" asp-route-id="@item.SupId">
                    <i class="bi bi-x-lg text-danger">Delete</i>
                </a>
            </td>
        </tr>
    }
</table>